*{
  padding: 0%;
  margin: 0%;
  background: #FFFFFF;
}
h2{
  text-align: center;
  background-color: transparent;
}
.Header-frame{
  border: 1px solid rgb(221, 221, 221);
  margin: 40px 60px 40px 60px;
  padding: 10px;
  background-color: 	#F0F0F0;
  box-shadow: 0px 2px 2px rgb(173, 171, 171);

}

.Header-tag
{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 30px;
  background-color: transparent;
  gap: 10px;
}
.Header-tag p{
  background-color: transparent;
}
.Frame-bg{
  background-color: transparent;
}
.Sumit-btn
{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}
Button{
  width: 200px;
}

@media screen and (max-width: 850px)  {

  .Header-tag{
   display: flex;
   flex-direction: column;
  }
}